$font-family-fa: iransans, roboto;
$font-family-en: roboto, iransans;

$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-bold: bold;

$font-size-xs: 0.9rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.5rem;
$font-size-lg: 1.9rem;
$font-size-xl: 2.4rem;

$line-height-md: 1.5;
